*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    
*,* :before, * :after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
    }

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}
    
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}


html{
    font-family: 'Montserrat', sans-serif;
}

body{
    position: relative;
    background-color: rgba(146, 143, 130, 0.733);
    font-size: 1.3vmax;
    color: rgba(59, 59, 59, 0.99);
    text-shadow: 2px 2px 16px rgba(46, 46, 46, 0.788);
}

img{
    max-width: 100%;
}

header{
    display: flex;
    text-transform: lowercase;
    background-color: rgba(182, 180, 180, 0.11) ;
    height: 25%;
    box-shadow: 2px 5px 36px rgba(90, 90, 90, 0.774);
}

@media all and (max-width: 600px) {
    header{
        height: 30%;
    }
}


header nav{
    margin: 0 auto;
    margin-top: 5%;
}

header ul{
    display: flex;
    justify-content: center;
}

header li{
    margin: 0 5%;
}

header a{
    font-size: 1.5vmax;
    color: rgba(61, 60, 60, 0.99);
    
}

header a:hover{
    color: rgba(0, 0, 0, 0.99);
    text-shadow: 2px 2px 16px rgb(43, 41, 39);
}

main{
    padding: 0 10%;
}

.containerAboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    padding: 0 2%;
}

.aboutMe{
    max-width: 50%;
    text-shadow: 2px 2px 16px rgba(46, 46, 46, 0.247);
}

.aboutMe p{
    margin: 5% 0 0;
    line-height: 1.5vmax;
}

h2{
    font-size: 1.5vmax;
}


.MySlides img{
    max-height: 700px;
    box-shadow: 2px 2px 16px rgba(46, 46, 46, 0.788);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: 0.1}
    to {opacity: 2}
}

.skills{
    margin-top: 15%;
}

.skillsHeading {
    margin: 0 auto;
    text-align: center;
}

.skillsHeading img{
    max-width: 10%;
    margin-bottom: 5%;
}

.skillsImag{
    margin-top: 7%;
}

.skillsImag .progressBox{
    background-color: rgba(59, 59, 59, 0.521);
    color: rgb(192, 189, 185);
    box-shadow: 2px 2px 16px rgba(46, 46, 46, 0.788);
    margin: 2% 0 3%;
    height: 40px;
    border-radius: 15px;
    padding: 10px 0 0 5px;
}

.progress{
    display: block;
    height: 20px;
    background-color: rgb(192, 189, 185);
    border-radius: 15px;
}

.htmlBox .progress{
    width: 90%;
}

.cssBox .progress{
    width: 70%;
}

.jsBox .progress{
    width: 40%;
}

.test{
    margin-top: 6%;
    text-align: center;
    font-size: 1.6vmax;
}

.mail{
    margin: 6% 0;
    text-align: center;
    padding: 0 0 10%;
}

.mail p{
    margin: 3% 0;
}

.email{
    display: block;
    margin: 0 auto;
    margin-bottom: 7%;
	line-height: 44px;
	background-color: rgb(184, 180, 180);
	height: 6%;
	padding: 0 2%;
	box-shadow: 2px 5px 20px rgb(36, 36, 36);
	font-size: 1.3vmax;
    text-transform: uppercase;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear;
   
}

.email a{
    color: rgb(59, 59, 59);
    text-shadow: 2px 2px 16px rgba(46, 46, 46, 0.788);
}

.email:hover{
    padding: 0 2.5%;
    box-shadow: 10px 20px 40px rgb(15, 15, 15);
}

.telegram{
    display: block;
    margin: 0 auto;
    margin-bottom: 7%;
	line-height: 44px;
	background-color: rgba(148, 146, 146, 0);
	height: 6%;
	padding: 0 2%;
}
   
.email:hover{
    padding: 0 2.5%;
    box-shadow: 10px 20px 40px rgb(15, 15, 15);
}
